{{#navbar-comp userDetails=this.model }} {{/navbar-comp}}
<div class="content">
  <div class="pd-tp-10">
    <h1>Home page</h1>
    <p>Hi {{this.model.firstName}}, Welcome to your micro blogging</p>
    <p>Please use the nav-bar to navigate the pages</p>
  </div>
</div>